\chapter{\VAR{chapter.title}}
\BLOCK{for section in chapter.sections}
\section{\VAR{section.title}}
\VAR{section.content}

\BLOCK{endfor}
\BLOCK{if chapter.show_features}
\section{Figures, Table, and Formula}
This chapter draws on the framework documentation \cite{\VAR{cite_key}}.

\begin{figure}[h]
\centering
\includegraphics[width=0.6\textwidth]{\VAR{image_path}}
\caption{\VAR{image_caption}}
\end{figure}

\begin{figure}[h]
\centering
\includegraphics[width=0.9\textwidth]{\VAR{graph_path}}
\caption{\VAR{graph_caption}}
\end{figure}

\BLOCK{include 'table.tex.j2'}

\BLOCK{include 'formula.tex.j2'}

\section{Hebrew-English Section}
\begin{hebrew}
מערכת הסוכנים משלבת תכנון, מחקר, כתיבה וביקורת.
\end{hebrew}
The system combines planning, research, writing, and review.
\BLOCK{endif}
