\begin{titlepage}
\centering
\vspace*{3cm}
{\Huge \VAR{title}\par}
\BLOCK{if subtitle}
\vspace{0.6cm}
{\Large \VAR{subtitle}\par}
\BLOCK{endif}
\vspace{2.5cm}
{\large \VAR{author}\par}
\vspace{0.4cm}
{\large \VAR{course}\par}
{\large מרצה: \VAR{lecturer}\par}
\vspace{0.4cm}
{\large \VAR{date}\par}
\end{titlepage}
