\documentclass[11pt]{report}
\usepackage{fontspec}
\usepackage{polyglossia}
\setmainlanguage{hebrew}
\setotherlanguage{english}
% A Hebrew-capable main font is required under LuaLaTeX. Adjust to a font that is
% installed on the build machine (e.g. "David CLM" / "Frank Ruehl CLM" from the
% culmus package). English runs use a Latin font via \englishfont.
\setmainfont{David CLM}
\newfontfamily\englishfont{Latin Modern Roman}
\usepackage{amsmath}
\usepackage{graphicx}
\usepackage{booktabs}
\usepackage[backend=biber]{biblatex}
\addbibresource{\VAR{bib_resource}.bib}
\usepackage{hyperref}

\title{\VAR{title}}
\author{\VAR{author}}
\date{\VAR{date}}

\begin{document}
\BLOCK{include 'cover.tex.j2'}
\tableofcontents
\BLOCK{for chapter in chapters}
\BLOCK{include 'chapter.tex.j2'}
\BLOCK{endfor}
\nocite{*}
\printbibliography
\end{document}
