\begin{table}[h]
\centering
\begin{tabular}{ll}
\toprule
Agent & Responsibility \\
\midrule
Planner & Document blueprint \\
Research & Source-aligned research \\
Writer & Manuscript drafting \\
Reviewer & Editorial review \\
LaTeX & Assembly specification \\
\bottomrule
\end{tabular}
\caption{\VAR{table_caption}}
\end{table}
